<!DOCTYPE html>
<html>

<head>
   
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}} 
    <link rel="stylesheet" type="text/css" href="./css/home.css">

</head>

<body>

   


    {{{body}}}
</body>

</html>