 <div class="commentsContainer">
         <h3>Comments</h3>
         <div class="newCommentBox">
             <div class="">
             <input type="hidden" name="parentcomment" id="parentcomment" value="">
             <label for="txtNewComment">Leave your comment:</label>
             <input type="text" name="commentText" id="txtNewComment" required>
        </div>
        <div class="">
            <button id="newCommentSubmit">Submit</button>
        </div>
    </div>
 </div>
