{{#if toastMessage}}
<p>{{toastMessage}}</p>
{{/if}}

<div class="introDiv">
    <h1>[Home page Title]</h1>
    <p>Content including description of website</p>
</div>

<div class="container">

    <div class="articlePanel">
        <label for="sort">Sort by</label>
        <select name="sort" id="sort">
            <option value="title asc">Article Title: A-Z</option>
            <option value="title desc">Article Title: Z-A</option>
            <option value="username asc">Username: A-Z</option>
            <option value="username desc">Username: Z-A</option>
            <option value="date_published asc">Date: oldest to latest</option>
            <option value="date_published desc">Date: latest to oldest</option>
        </select>
    </div>
    
    <div class="topThree">
        <h2>Most Popular Articles</h2>
        <div class="popularContents"></div>
    </div>
    
    <div class="articles">
        <h2>Published Articles</h2>
        <div class="articleContents"></div>
    </div>  
</div>

<script src="../js/articles-fetch.js"></script>
<link rel="stylesheet" type="text/css" href="../css/home.css">