{{#if toastMessage}}
<p>{{toastMessage}}</p>
{{/if}}

<div class="container">

    {{!-- <div id="header-container">
        <img id="test" src="../images/headerimage.jpg">
        <p id="welcome-title">Welcome! Read Thoughs, Share Ideas</p>

        <div id="top-section">
            <div id="logo">
                <p>Image</p>
            </div>
        </div>
    </div> --}}

    <div class="articlePanel">
        <div class="articleTags">
            <a href="">All Articles</a>
            <a href="">Top Articles</a>
        </div>
        <br>
        <label for="sort">Sort by</label>
        <select name="sort" id="sort">
            <option value="title asc">Article Title: A-Z</option>
            <option value="title desc">Article Title: Z-A</option>
            <option value="username asc">Username: A-Z</option>
            <option value="username desc">Username: Z-A</option>
            <option value="date_published asc">Date: oldest to latest</option>
            <option value="date_published desc">Date: latest to oldest</option>
        </select>

        <div class="articles">
        </div>
    </div>
</div>

<script src="../js/articles-fetch.js"></script>