<div class="container">

     <div id = "header-container">
       

        <img id ="test"src ="./../images/headerimage.jpg">
        <p id="welcome-title">Welcome! Read Thoughs, Share Ideas</p>
       
         <div id = "top-section">
            
            <div id = "logo"><p>Image</p></div>
            <div id= "nav-bar">
                <a class="nav-item" href="./login">login</a>
                <a class= "nav-item" href="./signUp">sign-up</a>
            </div>
            
        </div>
    

    </div>
    
</div>