<link rel="stylesheet" type="text/css" href="../css/forms.css">

<div class="container">
    {{#if toastMessage}}
    <div class="message">
        <p>{{toastMessage}}</p>
    </div>
    {{/if}}

    <fieldset>
        <legend>Login</legend>
        <form action="./login" method="POST">
            <div class="userDetail">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
            </div>

            <div class="userDetail">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <br>
            <input type="submit" value="Log in">
        </form>
        <br>
        <div class="otherCommands">
        <a href="./forgotPassword">
            <button type="button">Forget password?</button>
            <!--This forgotten password handlebars and route handlers has not been implemented-->
        </a>
        <a href="./signUp">
            <button type="button">Create New Account!</button>
        </a>
        </div>
       
    </fieldset>
</div>

