<link rel="stylesheet" type="text/css" href="../css/admin.css">
<script>
    const articles = [];
    {{#each articleArray}}
        articles.push({{this}});
    {{/each}}

</script>
<script src="../js/admin.js"></script>

<div class="container">
    <a href="./editDetails" id="editLink">Edit Profile</a>
    {{> profileDisplay}}
    <div class="navbar">
        <span id="analytics">Analytics</span>
        <span id="subscriptions">Subscriptions</span>
        <span id="followers">Followers</span>
    </div>
</div>