<div class="container"> 
    <a href="./editDetails" id="editLink">Edit Profile</a>
    {{> profileDisplay}}
    <div class="nav">
        <!--Navigation items which links to analytics-->
    </div>
</div>
<link rel="stylesheet" type="text/css" href="../css/user.css">
<link rel="stylesheet" type="text/css" href="../css/admin.css">