<link rel="stylesheet" type="text/css" href="../css/admin.css">
<script src="../js/admin.js"></script>

<div class="container">
    <a href="./editDetails" id="editLink">Edit Profile</a>
    {{> profileDisplay}}
    <div class="nav">
        <!--Navigation items which links to analytics-->
    </div>
    <div class="navbar">
        <span id="analytics">Analytics</span>
        <span id="subscriptions">Subscriptions</span>
        <span id="followers">Followers</span>
    </div>
</div>