<div class="container">
    {{#if user}}
    <div class="subscriptionCmd">
        <a class="commands" href="../subscribe/{{viewingUser.id}}" id="subscribeLink">Subscribe</a>
        <a class="commands" href="../unsubscribe/{{viewingUser.id}}" id="unsubscribeLink">Unsubscribe</a>
    </div>
    {{/if}}
    {{> profileDisplay}}
</div>
