<div class="container">
    {{#if user}}
    <div class="subscriptionCmd">
        <a class="commands" href="../subscribe/{{viewingUser.id}}" id="subscribeLink">Subscribe</a>
        <a class="commands" href="../unsubscribe/{{viewingUser.id}}" id="unsubscribeLink">Unsubscribe</a>
        {{!-- <form method="POST" action="../subscribe" id="subscribeForm">
            <input type="text" name="authorId" value="{{viewingUser.id}}" style="display: none">
            <input type="submit" value="Subscribe">
        </form>
        <form method="POST" action="../unsubscribe" id="unsubscribeForm">
            <input type="text" name="authorId" value="{{viewingUser.id}}" style="display: none">
            <input type="submit" value="Unsubscribe">
        </form> --}}

    </div>
    {{/if}}
    {{> profileDisplay}}
</div>
