.container{
    position: relative;
}

#editLink{
    background-color: #f7f2ee;
    border-radius: 10px;
    border: 2px solid #f7775e;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 13px;
}


