@import url(./commentForm.css);

.commenterCard {
    display: flex;
    padding: 5px;
    border: 1px solid #edebeb;
    margin: 10px 0;
}

.commenterCard > * {
    padding: 10px;
}

.commenterCard img{
    width: 50px;
    border-radius: 50%;
    padding: 1px;
}

.commenterPanel{
    display: flex;
    justify-content: space-between;
}

.commenterPanel > p {
    color: #f7775e;
}

#username, .commentDiv h3{
    font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: normal;
}

.commenterPanel p{
    font-size: 13px;
}

.content{
    width: 100%;
    padding-right: 15px;
}

.commentContent{
    padding: 5px 0;
}

.commentContent > p, .commentDiv > p {
    color: #838383;
    font-size: 14px;
    line-height: 1.5em;
}

.childComment, .grandchildComment{
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.childComment .commenterCard, .grandchildComment .commenterCard{
    width: 100%;
}

.childComment{
    margin-left: 40px;
}

.grandchildComment {
    margin-left: 120px;
}

.commenterCard .delete, .reply{
    margin: 5px 0;
}
.replyForm  form {
    margin: 10px 0;
}