*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    padding: 50px 0;
}

form > div{
    background-color: #ffffff;
    width: 100%;
    padding: 50px;
    margin: 20px 0;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 25px 50px rgb(7, 20, 35, 0.2);
}

.options{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

button {
    height: 28px;
    width: 28px;
    place-items: center;
    border-radius: 3px;
    border: none;
    background-color: #ffffff;
    outline: none;
    color: #020909;
}

select {
    padding: 7px;
    border: 1px solid #020909;
    border-radius: 3px;
}

#colorPanel {
    display: flex;
    gap: 15px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 28px;
    border: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020909;
}

input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020909;
}

#text-input {
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #dddddd;
    height: 50vh;
    text-overflow: clip;
    overflow-y: scroll;
}

.active {
    background-color: #e0e9ff;
}

.input-wrapper > label {
    font-size: 15px;
}

#text-input a{
    color: #f7775e;
}

input[type="text"]{
    width: 100%;
    padding: 5px;
}

.inputForm > h2{
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 16px;
}

.inputForm > * {
    padding: 5px 0;
}

input[type="submit"], input::file-selector-button{
    padding: 10px;
    background-color: #f7f2ee;
    border-radius: 10px;
    border-color: #f7775e;
    letter-spacing: 0.1em;
    font-size: 13px;
    font-family: Lora, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="submit"]{
    margin: 15px 0;
}