@import url(./notification.css);


* {
    /* border: 1px solid black; */
    margin: 0;
    font-family: Lora, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
}

a {
    text-decoration: none;
} 

.header, .footer{
    background-color: #f7f2ee;
    padding: 20px 50px;
}

.header *, .articleTitle, input[type="submit"], button, input[type="reset"], .commands, .toastMessage *, #topNav{
    font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.articleTitle{
    font-size: 15px;
    font-weight: bolder;
}

.nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

a:hover {
    opacity: 0.5;
}

.footer{
    text-align: center;
    font-size: small;
}

.container{
    width: 65%;
    margin: auto;
}

.authDiv {
    display: flex;
    align-items: center;
}

.userCommand{
    display: flex;
    align-items: center;
}

.navHome > *, .authDiv > *{
    padding: 10px 30px;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Lora';
    src: url('../font/Lora-Regular.ttf');
}

@font-face {
    font-family: 'Dancing Script';
    src: url('../font/DancingScript-Regular.ttf');
}

#imgNav{
    padding: 1px;
    width: 20px;
    border-radius: 50%;
    vertical-align: baseline;
}

.authDiv span, .toastMessage *{
    color: #f7775e;
    font-weight: bold;
}

.toastMessage{
    border: 1px solid #f7775e;
    padding: 20px;
}

.toastMessage *{
    text-align: center;
}

.articleContent, .cardIntro p{
    color: #565050;
    line-height: 1.5em;
}

.delete{
    background-color: rgb(70, 3, 3) !important;
   
}
.container .delete{
    width: 202px;
    height: 34px;
    padding: 10px 30px;
    text-align: center;
}

input[type="submit"], button, input[type="reset"], .commands{
    background-color: black;
    color: #ffff;
    border: none;
    border-radius: 0;
    font-size: 12px;
    padding: 10px 30px;
}

#topNav{
    text-transform: initial;
    border-radius: 50%;
    padding: 15px;
    position: sticky;
    bottom: 30px;
    left: calc(100% - 80px);
    font-family: Dancing Script !important;
    font-style: italic;
    background-color: white;
    color: black;
}

#topNav:hover{
    background-color: black;
    color: white;
    opacity: 1;
}

.articlePreview * {
    font-family: Lora, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 13px !important;
    color: #565050;
    font-weight: normal;
    text-transform: initial !important;
}

.cardImg img{
    width:100%;
}



/*remember to put in the responsiveness*/
@media screen and (max-width: 1260px){
    .container{
        width: 90%;
    }
}
@media screen and (max-width: 1060px){
    .graph{
        width: 70% !important;
        margin: auto;
    }
}
@media screen and (max-width: 960px){
    .nav{
        gap: 10px;
        justify-content: center;
    }
    .navHome > *, .authDiv > *{
        padding: 10px 10px;
    }
    .navbar{
        justify-content: center;
    }


    .container {
        width: 95%;
        grid-template-areas: 
            "user"
            "details"
            "summary"
            "navbar"
            "main"
            "chart"
            "articles"
            " ." ;
    }
    .userDetails{
        text-align: center;
    }
}
@media screen and (max-width: 890px){
    .container {
        grid-template-areas: 
            "user"
            "details"
            "summary"
            "navbar"
            "main"
            "chart"
            "articles"
            "." !important;
        grid-template-columns: auto !important;
    }

    .graph{
        width: 300px;
    }

}

@media screen and (max-width: 670px){
    .headerSort{
        flex-direction: column;
    }

    .authorPanel{
        flex-direction: column;
        align-items: center;
    }

    .popularDiv .cardIntro{
        flex-direction: column;
    }

    .popularDiv .articleStats{
        flex-direction: row;
    }

    .commenterCard .delete{
        font-size: 11px;
    }

    fieldset{
        flex-direction: column;
    }

    #accountDelete{
        height: 15px;
        width: 150px;
        margin: auto;
    }

    .nav *{
        font-size: 10px ;
        padding: 0 5px;
    }

   .notification{
       left: -30px;
       top: 35px;
   }
   .notify{
    padding: 5px 0;
   }

   .articles{
       width: 100%;
   }
}