@import url(./notification.css);

* {
    /* border: 1px solid black; */
    margin: 0;
    font-family: Lora, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
}

a {
    text-decoration: none;
}

.header, .footer{
    background-color: #f7f2ee;
    padding: 20px 50px;
}

.header *{
    font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.nav{
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

a:hover {
    opacity: 0.5;
}

.footer{
    text-align: center;
    font-size: small;
}

.container{
    width: 65%;
    margin: auto;
}

.introDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url("../images/headerimage.jpg");
    background-size: cover;
    height: 400px;
}

.navHome > *, .authDiv > *{
    padding: 10px 30px;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Lora';
    src: url('../font/Lora-Regular.ttf');
}

#imgNav{
    padding: 1px;
    width: 20px;
    border-radius: 50%;
    vertical-align: baseline;
}

.authDiv span{
    color: #f7775e;
    font-weight: bold;
}

.articleTitle{
    font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.1em;
    font-weight: bolder;
}

.articleContent, .cardIntro p{
    color: #565050;
    line-height: 1.5em;
}

.delete input[type="submit"]{
    background-color: rgb(70, 3, 3);
}

input[type="submit"], button{
    background-color: black;
    color: #ffff;
    border: none;
    border-radius: 0;
    font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 12px;
    padding: 10px 30px;
}

.articlePreview * {
    font-family: Lora, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 13px !important;
    color: #565050;
    font-weight: normal;
}

.articlePreview{
    overflow-y: hidden;
    width: 90%;
    margin: auto;
    height: 145px;
}

.cardImg img{
    width:100%;
}
/*remember to put in the responsiveness*/