.articlePanel {
    padding: 5px 20px;
}

.articlePanel > *{
    padding: 2px 4px;
    text-align: center;
    font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.articles{
    display: flex;
    flex-direction: column;
}

.articles h2{
    font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px 0;
}

.articleContents, .popularContents{
    display: flex;
    gap: 30px 30px;
    padding-bottom: 30px;
}

.card{
    width: 100%;
}

.cardAuthor{
    font-size: 0.8em;
    display: flex;
    align-items: center;
}

.cardAuthor div{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.cardAuthor img{
    width: 50px;
    border-radius: 50%;
    padding: 1px;
}

.cardIntro h4{
    width: 90%;
    margin: auto;
}

