/* should we need !important?? */
@media screen and (max-width: 960px){
    .nav{
        gap: 10px !important;
        justify-content: center;
    }
    .navHome > *, .authDiv > *{
        padding: 10px 10px !important;
    }
    .navbar{
        justify-content: center !important;
    }
    .container {
        width: 80% !important;
        grid-template-areas: 
            "user"
            "details"
            "summary"
            "navbar"
            "main"
            "chart"
            "articles"
            " ." !important;
    }
    .userDetails{
        text-align: center;
    }
}
@media screen and (max-width: 550px){
   .notification{
       left: -30px;
   }
   .articles{
       width: 100% !important;
   }
   .container {
    grid-template-areas: 
        "user"
        "details"
        "summary"
        "navbar"
        "main"
        "chart"
        "articles"
        " ." !important;
}
}