.container{
    display: grid;
    grid-template-areas: 
        "user user"
        "details summary"
        "details about"
        "details navbar"
        "details main";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 2%;
}

.username{
    padding: 15px 0;
    grid-area: user;
}

.userDetails{
    grid-area: details;
    padding: 20px;
    background-color: #f7f2ee;
    border-radius: 20px;
}

.userDetails img{
    width: 100px;
    display: block;
    border-radius: 50%;
    padding: 1px;
    margin: auto;
}

.userDetails *{
    padding: 10px 0;
}

.summaryStats{
    grid-area: summary;
}

.description{
    grid-area: about;
}

.mainContent{
    grid-area: main;
}

.navbar{
    grid-area: navbar;
}

.cardAuthor img, .cardAuthor h4, .cardAuthor a{
    display: none;
}

